/* ============== Fondo del registro ============== */
.fondoRegistro {
   -fx-background: #000046;
   -fx-background: linear-gradient(to right, #000046, #1cb5e0);
}

/* ============== Fondo de las consultas ============== */
.fondoConsulta {
   -fx-background: #0f2027; /* fallback for old browsers */
   -fx-background: linear-gradient(
      to right,
      #2c5364,
      #203a43,
      #0f2027
   ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* ============== Fondo de los reportes ============== */
.fondoReporte {
   -fx-background: #200122; /* fallback for old browsers */
   -fx-background: linear-gradient(
      to right,
      #6f0000,
      #200122
   ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* ============== Fondo para la pantalla principal ============== */
.fondoPrincipal {
   -fx-background: #0f0c29; /* fallback for old browsers */
   -fx-background: linear-gradient(
      to right,
      #24243e,
      #302b63,
      #0f0c29
   ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* ============== Estilos del comboBox ============== */
.combo-box-base:editable {
   -fx-background-color: transparent;
   -fx-text-fill: white;
}

.combo-box .list-cell {
   -fx-background-color: transparent;
   -fx-text-fill: white;
}

.combo-box-base .text {
   -fx-prompt-text-fill: rgb(255, 255, 255);
   -fx-fill: rgb(255, 255, 255);
   -fx-background-color: transparent;
   -fx-font-size: 14;
}

.combo-box .text-field {
   -fx-prompt-text-fill: rgba(255, 0, 0, 0.5);
}

.combo-box-popup .list-view {
   -fx-background-color: #0cbaba, #26081c;
   -fx-background-insets: 0, 1;
   -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 8, 0, 0, 0);
   -fx-fill: white;
}

.combo-box-popup .list-view .list-cell {
   -fx-background-color: #0cbaba, #26081c;
   -fx-fill: white;
}

.combo-box-popup .list-view .list-cell:filled:selected,
.combo-box-popup .list-view .list-cell:filled:selected:hover {
   -fx-background-color: #a8247c;
}

.combo-box-popup .list-view .list-cell:filled:hover {
   -fx-background-color: #a8247c;
}

.combo-box-base {
   -fx-background-color: transparent;
   -fx-text-fill: white;
}

.combo-box-base:editable .text-input {
   -fx-text-fill: inherit;
   -fx-fill: white;
   -fx-background-color: transparent;
   -fx-prompt-text-fill: rgb(255, 255, 255);
   -fx-font-size: 17;
}

.combo-box > .arrow-button {
   -fx-background-color: transparent;
}

.combo-box:focused {
   -fx-border-color: #fff;
}

/* ============== Estilos de los botones ============== */
.botones-ejecucion {
   -fx-border-style: solid none solid none;
   -fx-border-width: 3;
   -fx-border-color: #fff;
}

.botones-ejecucion:hover {
   -fx-background-color: rgba(255, 255, 255, 0.1);
}

.botones-ejecucion:focused {
   -fx-background-color: rgba(255, 255, 255, 0.2);
}

/* ============== Estilos para el input de modo deshabilitado ============== */
.text-input:readonly {
   -fx-text-fill: gray;
}

/* ============== Interfaz para el color de la tabla ============== */
/* formato para las celdas del tableview */
.table-cell {
   -fx-padding: 0.5em 0.5em 0.1em 0.3em;
   -fx-border-color: -fx-box-border -fx-box-border transparent transparent;
   -fx-font: 15px 'Segoe UI';
   -fx-border-insets: 0;
}

/* Color de fondo para cuando el raton este sobre la celda */
.table-cell:hover {
   -fx-background-color: #544bd3;
   -fx-text-fill: white;
}

/* Color para filas vacias,  */
/* Aplicar el mismo color cuando el raton este sobre una celda de una fila vacia   */
.table-row-cell:empty,
.table-cell:empty:hover {
   -fx-background-color: whitesmoke;
}

/* Eliminar borde de celdas en las filas vacias */
.table-row-cell:empty .table-cell {
   -fx-border-width: 0px;
}

/* Color de una fila cuando en raton se encuentra sobre la misma   */
.table-view:row-selection .table-row-cell:filled:hover {
   -fx-background-color: rgba(28, 183, 236, 0.25);
}

/* Color de una fila cuando en raton se encuentra sobre una fila que esta seleccionada */
.table-view:row-selection .table-row-cell:filled:selected:hover {
   -fx-background-color: rgba(228, 183, 236, 0.9);
}

/* Color de una fila seleccionada por el usuario */
.table-view:row-selection .table-row-cell:filled:selected {
   -fx-background-color: #51a3a3;
}

/* Eliminar border del table que aparece cuando el mismo tiene el foco */
.table-view,
.table-view:focused {
   -fx-background-color: transparent, -fx-box-border, -fx-control-inner-background;
   -fx-background-insets: -1.4, 0, 1;
   -fx-background-radius: 1.4, 0, 0;
}

/* Centrar y cambiar color de los titulos de columnas */
.table-view .column-header .label {
   -fx-text-fill: #52677a;
   -fx-alignment: CENTER;
}

/* Color de fondo del titulo de columna cuando en roton esta sobre ella */
.table-view .column-header:hover {
   -fx-background-color: whitesmoke;
}

/* Tamaño, bordes y color de fondo de los titulos */
.table-view .column-header,
.table-view .filler {
   -fx-background-color: white;
   -fx-size: 45;
   -fx-border-color: -fx-box-border;
   -fx-border-width: 0 1 3 0;
   -fx-border-insets: 0;
}

/* Hacer transparente el fondo de los titulos */
.table-view .column-header-background {
   -fx-background-color: transparent;
}

/* Estilo para el boton que permite ocultar o mostrar las columnas */
.table-view .show-hide-columns-button {
   -fx-background-color: white;
   -fx-border-color: -fx-box-border;
   -fx-border-insets: 0;
}
